<app-project-list></app-project-list>

<!-- <div class="container">
  <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
    <div class="row me-10">
      <input name="username" class="form-control me-2" type="text" placeholder="Username">
      <input name="password" class="form-control me-2" type="password" placeholder="Password">
    </div>
    <button class="btn btn-outline-success" type="submit">Login</button>
  </form>

  <ul>
    <li *ngFor="let item of items">{{item}}</li>
  </ul>
</div> -->